*{
    padding: 0%;
    margin: 0;
}
.nav{
    height: 4.375rem;
    /* height: 70px; */
    background-color: rgb(22, 15, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection{
    /* height: 200px; */
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.structure{
    /* height: 120px;
    width: 120px; */
    height: 7.5rem;
    width: 7.5rem;
    border-radius: 100%;
    /* background-color: red; */
    /* margin-left: 15px;
    margin-right: 15px; */
    margin-left: 0.938rem;
    margin-right: 0.938rem;
}
#Rock{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#Paper{
    /* background-color: rgb(164, 93, 231); */
    display: flex;
    justify-content: center;
    align-items: center;
}
#Scissor{
    /* background-color: royalblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-count{
    /* height: 130px; */
    height: 8.125rem;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.my{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.938rem;
    padding-left: 0.938rem;

}
.computer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.938rem;
    padding-left: 0.938rem;
}
.text{
    font-size: 2.813rem;
}
.output{
    height: 3.75rem;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.output-box{
    /* height: 40px;
    width: 220px; */
    background-color: green;
    border-radius: 10px;
    padding: 0.625rem;
}

.structure:hover{
    border: solid 5px black;
}

.output-box{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25rem
}

.structure{
    object-fit: cover;
}