div{
    height: 100px;
    width: 100px;
    border: solid 2px black;
    background-color: pink;
    color: white;
    margin-top: 10px;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}