body{
    background-color: pink;
}

#heading1{
    background-color: yellow;
    color: blue;
}
button{
    background-color: blue;
    color: white;
}

.box{
    height: 100px;
    width: 100px;
    background-color: green;
    border: solid 2px;
    margin: 5px;
}